.body {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   
}
.heard {
    width:100%;
    height: 800px;
    background-image: url(../images/startsky.jpg);
    background-repeat: no-repeat;
    background-size:cover;
}
.heard-left {
    position:absolute;
    margin-right:30px;
}
.heard-middle{
    position:relative;
    margin-left:200px;
}
.navbar-band img.palette-white {
    width: 38px;
    height: 38px;
}
.navbar-band img.palette-red {
    display: none;
    width: 38px;
    height: 38px;
}
.navbar-band span.artpip-logo{
    font-size:30px;
    color:#fff;
    text-decoration:none;
}