.body {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   
}
.headed {
    width:100%;
    height: 800px;
    background-image: url(../images/startsky.jpg);
    background-repeat: no-repeat;
    background-size:cover;
}
.navbar-container{
    float:left;
    width:900px;
    height:60px;
    margin-left:150px;
}
.headed.navbar-container a.navbar-band{
    position:absolute;
    width:80px;
    height:30px;
}
.headed-left {
    position: absolute;
    margin-right: 30px;
} 
.headed-middle {
    position: relative;
    left: 200px;
    top:12px;
    }
.navbar-band img.palette-white {
    width: 38px;
    height: 38px;
}
.navbar-band img.palette-red {
    display: none;
    width: 38px;
    height: 38px;
}
.navbar-band span.artpip-logo{
    position:relative;
    font-size:30px;
    color:#fff;
    text-decoration:none;
    top:8px;
}