.body {
   
}
.heard {
    width:100%;
    height: 800px;
    background-image: url(../images/startsky.jpg);
    background-repeat: no-repeat;
    background-size:cover;
}
.navbar-band img{
    height:38px;
}
.navbar-band img.palette-white {
    width: 38px;
    height: 38px;
}
.navbar-band img.palette-red {
    display: none;
    width: 38px;
    height: 38px;
}